@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

/* Regular button with external/internal link
/* -------------------------------------------------------------------------- */ 

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $space-xs;
    height: 48px;
    min-width: 64px;
    line-height: 1;
    transition: all .2s ease-in-out;

    &__icon {
        width: 18px;
        height: 18px;
        transition: all .2s ease-in-out;
    }    

    /* Text button ---------------------- */

    &--text {
        padding: 0 $space-md;
        color: $on-primary;
        font-size: $fs-lg;
        background: transparent;

        &:hover { background: rgba($on-primary, 4%); }

        @include md { font-size: $fs-md; }
    } 

    /* Outlined button ------------------ */

    &--outlined {
        padding: 0 $space-md;
        border: 1px solid $on-primary;
        color: $on-primary;
        font-size: $fs-lg;
        background: transparent;

        &:hover { background: rgba($on-primary, 4%); }

        @include md { font-size: $fs-md; }
    }

    /* Call to action button ------------ */

    &--cta {
        padding: 0 $space-md;
        border: 1px solid $accent;
        color: $accent;
        font-size: $fs-lg;
        background: transparent;

        &:hover { background: rgba($accent, 6%); }

        @include md { font-size: $fs-md; }
    }
}